@{
  Layout = "_Layout";
}

<h1>Client Order Details: </h1>

<h2>@Model["order"].Description</h2>
<h3>Category: @Model["client"].Name</h3>

<a href='/clients/@Model["client"].Id/orders/new'>Add another order</a>
<a href='/clients'>View all clients</a>